Gemfile.lock
*/Gemfile.lock
*/logs
*/*/logs
*/*/*/logs
*/*.log
*/*/*.log
*/*/*/*.log
*/log
*/*/log
*/*/*/log
*/*/*/*/log
*/data
*/*/data
*/*.obj
*/*/*.obj
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
*/*/*/*/*/*/*.pyc
*/*/*/*/tmp
*/*/*/tmp
*/*/tmp
*/node_modules/
*/*/node_modules/

conf

tool/IB_tws_runner/output/*
tool/IB_tws_runner/*.sh
tool/IB_tws_runner/*.ini
